{% if text != blank %}
  <div class="ingredient-page__text-box">
    <p class="body-medium font-weight-demi-bold m-0 capitalize">{{ title }}</p>
    <p class="body-medium m-0">
      {{ text }}
    </p>
  </div>
{% endif %}