<div class="style-guide-buttons">
  <h2>buttons</h2>

  <div class="buttons-container">

    <div class="flex button-group-container">
      <p class="bioligent-button-text bioligent-button-title m-0">White Button</p>
      <div class="flex button-group">
        {% render 'bioligent-button' as: "button" variant: "white" left_icon: "bioligent-circle" right_icon: "bioligent-circle" text:"Shop Now" disabled: false %}

        {% render 'bioligent-button' as: "button" variant: "white" left_icon: "bioligent-circle" right_icon: "bioligent-circle" text:"Shop Now" disabled: true %}
      </div>
    </div>

    <div class="flex button-group-container">
      <p class="bioligent-button-text bioligent-button-title m-0">Green Button</p>
      <div class="flex button-group">
        {% render 'bioligent-button' as: "button" variant: "green"
        left_icon: "bioligent-circle" right_icon: "bioligent-circle" text:"Shop Now" disabled: false %}

        {% render 'bioligent-button' as: "button" variant: "green" left_icon: "bioligent-circle" right_icon: "bioligent-circle" text:"Shop Now" disabled: true %}
      </div>
    </div>

    <div class="flex button-group-container">
      <p class="bioligent-button-text bioligent-button-title m-0">Outline Button</p>
      <div class="flex button-group">
        {% render 'bioligent-button' as: "button" variant: "outline"
        left_icon: "bioligent-circle" right_icon: "bioligent-circle" text:"Shop Now" disabled: false %}

        {% render 'bioligent-button' as: "button" variant: "outline" left_icon: "bioligent-circle" right_icon: "bioligent-circle" text:"Shop Now" disabled: true %}
      </div>
    </div>

    <div class="flex button-group-container">
      <p class="bioligent-button-text bioligent-button-title m-0">White Link</p>
      <div class="flex button-group">
        {% render 'bioligent-button' as: "link" variant: "white"
        left_icon: "bioligent-circle" right_icon: "bioligent-circle" text:"Instagram" disabled: false %}

        {% render 'bioligent-button' as: "link" variant: "white" left_icon: "bioligent-circle" right_icon: "bioligent-circle" text:"Shop Now" disabled: true %}
      </div>
    </div>

    <div class="flex button-group-container">
      <p class="bioligent-button-text bioligent-button-title m-0">Green Link</p>
      <div class="flex button-group">
        {% render 'bioligent-button' as: "link" variant: "green"
        left_icon: "bioligent-circle" right_icon: "bioligent-circle" text: "Instagram" disabled: false
        href: "#" %}

        {% render 'bioligent-button' as: "link" variant: "green" left_icon: "bioligent-circle" right_icon: "bioligent-circle" text:"Shop Now" disabled: true href: "#" %}
      </div>
    </div>

  </div>
</div>