<div class="grid-rows">
  <h2>grid</h2>
  <div class="bioligent-grid grid-demo">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col hide-mobile"></div>
    <div class="col hide-mobile"></div>
    <div class="col hide-mobile"></div>
    <div class="col hide-mobile"></div>
    <div class="col hide-mobile"></div>
    <div class="col hide-mobile"></div>
    <div class="col hide-mobile"></div>
    <div class="col hide-mobile"></div>
  </div>
</div>