<div class="container--large gutter-top--xlarge gutter-bottom--xlarge">
  <h1 class="text-center">style guide</h1>
  {% render 'style-guide-grid' %}
  {% render 'style-guide-colors' %}
  {% render 'style-guide-typography' %}
  {% render 'style-guide-buttons' %}
</div>

{% schema %}
  {
    "name": "Style Guide",
    "settings": []
  }
{% endschema %}