.new-mobile-nav__ul {
  display: flex;
  flex-direction: column;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: calc(var(--sidebar-gutter) / 2) var(--sidebar-gutter);
  padding-right: calc(var(--sidebar-gutter) / 2) var(--sidebar-gutter);
}

.new-mobile-nav__links-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 24px;
  padding-bottom: 24px;

  gap: 1rem;
}

.new-mobile-nav__hr {
  height: 1px;
  border-top: 1px solid var(--edgewater-600);
  margin-left: -16px;
  margin-right: -16px;
}

.new-mobile-nav__ul a.menu-link,
.new-mobile-nav__ul p.menu-link {
  width: 100%;
  padding: 1rem 0;
  display: flex;
}

.new-mobile-nav__with-border {
  border-bottom: 1px solid var(--edgewater-600);
}

.new-mobile-nav__product-grid {
  display: grid;
  gap: 1rem;
  padding-bottom: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.new-mobile-nav__two-column-grid {
  grid-template-columns: repeat(2, 1fr);
}

.new-mobile-nav__three-column-grid {
  grid-template-columns: repeat(3, 1fr);
}

.new-mobile-nav__four-column-grid {
  grid-template-columns: repeat(4, 1fr);
}

.new-mobile-nav__product-title {
  text-align: center;
  font-weight: 600;
  margin: 0.5rem 0 0 0;
}

.new-mobile-nav__product-image {
  border-radius: 12px;
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
}

.new-mobile-nav__promo-image {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.new-mobile-nav__promo-title-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 12px 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  flex-grow: 1;
}

.new-mobile-nav__promo-link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.new-mobile-nav__promo-title {
  margin: 0;
}

.new-mobile-nav__promo-link-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.new-mobile-nav__product {
  opacity: 1;
  transition: opacity 0.3s ease;
  visibility: visible;
}

.new-mobile-nav__learn {
  opacity: 0;
  transition: opacity 0.3s ease;
  visibility: hidden;
}
